*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
emulator/
emulator/lib64/qt/lib/libQt6WebEngineCoreAndroidEmu.6.5.3.dylib
app/google-services.json
app/travelapp-f519f-firebase-adminsdk-jovun-d352d48e7b.json

